<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>AuthorArtistAnimator CCGAN</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href="{{url_for('static',filename='images/favicon.ico')}}" type="image/vnd.microsoft.icon">
    <link rel="stylesheet" href="{{url_for('static',filename='styles/style.css')}}">
  </head>
  <body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="{{url_for('customizer')}}">Sprite Customizer</a></li>
      <li><a href="{{url_for('author')}}">Sprite Author</a></li>
      <li><a href="{{url_for('training')}}">Training</a></li>
    </ul>
    <img src="{{url_for('static',filename='images/work-in-progress.png')}}" alt="WIP" id="placeholder">
  </body>
</html>